{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Escudo Peñarol</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est dolorem sed hic tempora commodi quaerat laudantium, error animi sequi ipsum libero. At quas vel quibusdam qui sit unde, praesentium officia?</p>
    </div>

    <div class="col-4">
        <img src="assets/img/escudo.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}